import init.vigor.usb.rc

on early-init
    # external sdcard
    export SECONDARY_STORAGE /mnt/sdcard2
    mkdir /mnt/sdcard2 0000 system system
    symlink /mnt/sdcard2 /sdcard2
    # internal sd on emmc
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

on early-fs
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0771 system cache
    mkdir /devlog 0700 root root
    
    mount ext4 /dev/block/mmcblk0p29 /system wait ro data=ordered noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p35 /data wait noatime nosuid nodev data=ordered noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p36 /cache wait noatime nosuid nodev data=ordered noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p30 /devlog wait noatime nosuid nodev data=ordered noauto_da_alloc
    
    # 8x60: mount radio partition and create links for modem/q6 firmwares
    rm /vendor
    mkdir /vendor               0771 system system
    mkdir /vendor/etc           0771 system system
    mkdir /vendor/firmware      0771 system system
    mkdir /vendor/firmware/misc 0771 system system
    mkdir /vendor/firmware/adsp 0771 system system
    wait /dev/block/mmcblk0p17
    wait /dev/block/mmcblk0p21
    mount vfat /dev/block/mmcblk0p17 /vendor/firmware/misc ro shortname=lower
    mount vfat /dev/block/mmcblk0p21 /vendor/firmware/adsp ro shortname=lower
    symlink /vendor/firmware/adsp/q6.b09 /vendor/firmware/q6.b09
    symlink /vendor/firmware/adsp/q6.b08 /vendor/firmware/q6.b08
    symlink /vendor/firmware/adsp/q6.b07 /vendor/firmware/q6.b07
    symlink /vendor/firmware/adsp/q6.b06 /vendor/firmware/q6.b06
    symlink /vendor/firmware/adsp/q6.b05 /vendor/firmware/q6.b05
    symlink /vendor/firmware/adsp/q6.b04 /vendor/firmware/q6.b04
    symlink /vendor/firmware/adsp/q6.b03 /vendor/firmware/q6.b03
    symlink /vendor/firmware/adsp/q6.b02 /vendor/firmware/q6.b02
    symlink /vendor/firmware/adsp/q6.b01 /vendor/firmware/q6.b01
    symlink /vendor/firmware/adsp/q6.b00 /vendor/firmware/q6.b00
    symlink /vendor/firmware/adsp/q6.mdt /vendor/firmware/q6.mdt
    symlink /vendor/firmware/misc/modem.b10 /vendor/firmware/modem.b10
    symlink /vendor/firmware/misc/modem.b09 /vendor/firmware/modem.b09
    symlink /vendor/firmware/misc/modem.b08 /vendor/firmware/modem.b08
    symlink /vendor/firmware/misc/modem.b07 /vendor/firmware/modem.b07
    symlink /vendor/firmware/misc/modem.b06 /vendor/firmware/modem.b06
    symlink /vendor/firmware/misc/modem.b05 /vendor/firmware/modem.b05
    symlink /vendor/firmware/misc/modem.b04 /vendor/firmware/modem.b04
    symlink /vendor/firmware/misc/modem.b03 /vendor/firmware/modem.b03
    symlink /vendor/firmware/misc/modem.b02 /vendor/firmware/modem.b02
    symlink /vendor/firmware/misc/modem.b01 /vendor/firmware/modem.b01
    symlink /vendor/firmware/misc/modem.b00 /vendor/firmware/modem.b00
    symlink /vendor/firmware/misc/modem.mdt /vendor/firmware/modem.mdt
    mkdir /vendor/firmware/misc_mdm 0771 system system

    mount vfat /dev/block/mmcblk0p18 /vendor/firmware/misc_mdm wait ro shortname=lower
    symlink /vendor/firmware/misc_mdm/image/amss.mbn /vendor/firmware/amss.mbn
    symlink /vendor/firmware/misc_mdm/image/dsp1.mbn /vendor/firmware/dsp1.mbn
    symlink /vendor/firmware/misc_mdm/image/dsp2.mbn /vendor/firmware/dsp2.mbn
    symlink /vendor/firmware/misc_mdm/image/dbl.mbn /vendor/firmware/dbl.mbn
    symlink /vendor/firmware/misc_mdm/image/osbl.mbn /vendor/firmware/osbl.mbn
    symlink /vendor/firmware/misc_mdm/image/efs1.mbn /vendor/firmware/efs1.mbn
    symlink /vendor/firmware/misc_mdm/image/efs2.mbn /vendor/firmware/efs2.mbn
    symlink /vendor/firmware/misc_mdm/image/amss.mbn /vendor/firmware/amss.mbn
    symlink /vendor/firmware/misc_mdm/image/htcssmem.mbn /vendor/firmware/htcssmem.mbn

on post-fs-data
    wait /dev/ttyHSL1
    mkdir /data/qcks 0770 system system

    # double check the perms and set owner
    chown root root /devlog
    chmod 0700 /devlog

    remount rootfs rootfs / remount

    # wifi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/hostapd 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # audio
    mkdir /data/audio 0770 media audio

    # radio
    mkdir /data/radio 0770 radio radio

    # for Invense MPU3050
    chmod 0664 /dev/mpu
    chmod 0664 /dev/mpuirq
    chmod 0664 /dev/timerirq
    chown system system /dev/mpu
    chown system system /dev/mpuirq
    chown system system /dev/timerirq

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_done 1

on init
    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # bluetooth MAC address programming
    chown bluetooth bluetooth /sys/module/htc_bdaddress/parameters/bdaddr
    setprop ro.bt.bdaddr_path /sys/module/htc_bdaddress/parameters/bdaddr

    # Permissions for Liblights.
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness

    # flashlight
    chown system camera /sys/class/leds/flashlight/brightness
    chmod 0666          /sys/class/leds/flashlight/brightness

    # symlink for HDMI
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    # for wireless modem
    chown system system /sys/module/serial/parameters/modem_enabled
    chown system system /dev/ttyHSUSB0
    chown system system /dev/ttySA0
    chown system system /dev/smd9

    # for Flip to speaker
    chown radio radio /sys/class/htc_accelerometer/accelerometer/PhoneOnOffFlag
    chown radio radio /sys/class/htc_ecompass/ecompass/PhoneOnOffFlag

    # for Optical sensors
    chown system system /sys/class/optical_sensors/lightsensor/ls_adc
    chown system system /sys/class/optical_sensors/lightsensor/ls_auto
    chown system system /sys/class/optical_sensors/lightsensor/ls_kadc
    chown system radio /sys/class/optical_sensors/proximity/ps_adc
    chown system system /sys/class/optical_sensors/proximity/ps_kadc
    chown system system /sys/class/optical_sensors/proximity/ps_led
    chown system system /sys/class/optical_sensors/proximity/ps_test_mode

    # for CM performance
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_frequencies
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_governors
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
    chown root system /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy

    # for simlock
    chown radio radio /dev/simlock
    chmod 0660 /dev/simlock

    # for charging function
    chown radio radio /sys/module/htc_battery_8x60/parameters/phone_call
    chmod 0660 /sys/module/htc_battery_8x60/parameters/phone_call
    chown radio radio /sys/class/power_supply/battery/charger_control
    chmod 0660 /sys/class/power_supply/battery/charger_control
    chown radio /sys/class/power_supply/battery/charger_timer
    chown radio radio /sys/class/power_supply/battery/phone_call
    chown radio radio /sys/class/power_supply/battery/network_search

    # Chown polling nodes as needed from UI running on system server
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

on boot
    # allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

    # Define TCP buffer sizes for various networks
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.wifi    4096,221184,3461120,4096,221184,3461120
    setprop net.tcp.buffersize.hsdpa   4094,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.umts    4094,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.edge    4093,26280,704512,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,704512,4096,8760,11680
    setprop net.tcp.buffersize.lte     4096,221184,3461120,4096,221184,3461120
    setprop net.tcp.buffersize.evdo_b  4094,87380,262144,4096,16384,262144
    setprop net.tcp.buffersize.wimax   4096,1398102,2097152,4096,16384,110208

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  3461120
    write /proc/sys/net/core/wmem_max  3461120

    # for slate charging timer
    chown radio /sys/class/power_supply/battery/charger_timer

# Force loading of modem and Q6 images
service load-modem /system/bin/load-modem.sh
    class main
    oneshot

service kickstart /system/bin/qcks lc
    class main
    oneshot

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
    user root
    group wifi inet
    class main
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# bugreport is triggered by the KEY_VOLUMEUP and KEY_VOLUMEDOWN keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 114 115

# Make sure we startup btld before hcid
# Set target address to emulator host loopback IF
# Limit baudrate to 460800 to ensure reliable uart operation
#service btld /system/bin/logwrapper /system/bin/btld -hwtun 10.0.2.2 -hb 460800 3000000 -lpm 1
service btld /system/bin/logwrapper /system/bin/btld -hb 3000000
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

# for USB internet sharing
service udhcpd /system/bin/udhcpd
	disabled
	oneshot

service netsharing_on /system/bin/netsharing net on
	disabled
	oneshot

service netsharing_off /system/bin/netsharing net off
	disabled
	oneshot

service netsharing_pass /system/bin/netsharing net_pass on
	disabled
	oneshot

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p25 /dev/block/mmcblk0p26 /dev/block/mmcblk0p19 NULL /dev/block/mmcblk0p27 /dev/block/mmcblk0p28 /dev/block/mmcblk0p20
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage

service dmagent /system/bin/dmagent -N -P19 -VSY
    socket dmagent stream 660 root radio
    user root
    group radio cache inet misc

# for modem link
service modem /system/xbin/wireless_modem
    user system
    group system radio
    disabled

on property:service.modem.enable=1
	start modem

on property:service.modem.enable=0
	stop modem

#+HTC_RIL: from QCT Fusion
service bridgemgrd /system/bin/bridgemgrd
    class main
    user radio
    group radio

service qmiproxy /system/bin/qmiproxy
    class main
    user radio
    group radio

service qmuxd /system/bin/qmuxd
    class main
    user radio
    group system radio inet

service netmgrd /system/bin/netmgrd
    class main

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio qcom_oncrpc diag system
#-HTC_RIL: from QCT Fusion

service htcbatt /system/bin/htcbatt
    class main
    user root

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
    class main
    user root
    disabled

on property:init.svc.bootanim=stopped
    start qcom-post-boot
    start thermald
    start mpdecision

# I-Mz add for SVLTE GPS daemon and related folder from QCT fusion ++
service gpsone_daemon /system/bin/gpsone_daemon
    class main
    user root
    group qcom_oncrpc
#    oneshot
#    disabled
#    start gpsone_daemon
# I-Mz add for SVLTE GPS daemon and related folder from QCT fusion --

service htc_ebdlogd /system/bin/htc_ebdlogd -s -k -P 7
    class main
    user root
    disabled
    oneshot
    ioprio idle 0

service htc_ebdlogd_rel /system/bin/htc_ebdlogd -s -k
    class main
    user root
    disabled
    oneshot
    ioprio idle 0
